/*Agrego fuentes para titulaciones y contenido en funcion del análisis de la estética, colores y diseño*/

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');      
}

:root { 
  font-size: 10px; /* Tamaño base */
  font-style:normal;
  color:black;
  background-color: white; 
  font-family: 'Poppins','Open Sans', Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;   
}

body {
  margin: 0%;
  padding: 0%;   
  box-sizing: border-box; 
  font-family: 'Open Sans';
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* TODO arreglar y fijar el despliegue vertical del header y el footer. */

/*Al repensar para el todo se analiza que Son dos maquetados en grid: uno en index y otro en el resto de las páginas*/
/*Se pasan por lo tanto a dos css de maquetados distintos: 1) maquetaindex.css 2) maquetarestante.css*/

