#idcontacto{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

#idformulario {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#idinfocontacto{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#idcontainermensaje {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#idinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#idmapa{

}