
.aside {
    grid-area: aside;
    grid-column: x0/x1;
    grid-row: y1/y2;
    background: red;
  }
  
  .main {
    grid-area: main;
    grid-column: x1/x2;
    grid-row: y1/y2;
    background: purple;
  }

  .article {
    grid-area: article;
    grid-column: x1/x2;
    grid-row: y1/y2;
    background:green;
  } 

  