#idnav {
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

#idnavlineitem {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  float: left;
  display: flex;
  padding: 10px 10px;
}

#idlogoandsearch {
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  float: left;
  display: flex;
}

.menu {
  justify-content: space-between;
  align-items: flex-start;
  float: left;
  display: flex;
  flex-wrap: nowrap;
}

#idlogocontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

#idlogoimagen{
  height: 34px;
}

#idmarca{
  letter-spacing: 0.2rem;
  font-family: 'Skygraze', serif;
  font-size: 1.3rem;
  color: #E6C705;
}

#idsearchform {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

#idimgbusqueda{
  height: 20px;
  padding: 2px;
}

.collapsible {
  position: absolute;
  display: none;
}

li:hover>ol {
  display: block;
}

.cart{
  background-color:rgba(255, 255, 255, 0.7);
}

#idinputform{
  height: 18px;
  border-radius: 2px 0px 0px 2px;
  padding: 3px;
}

#idbuttonform{
  width: 24px;
  height: 24px;
  border-radius: 0px 2px 2px 0px;
  background-color: rgb(166, 252, 166);
}

.searchform{
  display: flex;
  align-items: center;
}