#idmain {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  background-color: #ffdd09;
  flex-grow: 1;
}

#idofertas {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 20px;
}

.discount{
  color: white;
  text-shadow: 0 0 1px green, 0 0 2px green, 0 0 3px green, 0 0 4px green,
      0 0 5px green, 0 0 6px green, 0 0 7px green;
  font-size: 14px;
}

.newprice{
  color: green;
}

.oldprice{
  text-decoration: line-through;
  color: brown;
  font-size: 12px;
}

#idlistadoproductos {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 10px;
  column-gap: 0px;
}

.hide {
  animation: hide .3s ease 0s 1 normal forwards;
  transform-origin: center;
}
.show {
    animation: show .3s ease 0s 1 normal forwards;    
    transform-origin: center;
}

@keyframes hide {
  0%{
    margin: 10px;
    padding: 10px;
    display: initial;
    visibility: visible;
    transform: scale(1);        
  }
  100% {
    margin: 0px;
    padding: 0px;
    visibility: hidden;
    display: none;
    transform: scale(0);        
    width: 0;
    height: 0;
    margin: 0;
  }
}
@keyframes show {
  0%{
    margin: 0px;
    padding: 0px;
    visibility: hidden;
    display: none;
    transform: scale(0);     
    width: 0;
    height: 0;
    margin: 0;   
  }
  100% {
    margin: 10px;
    padding: 10px;
    visibility: visible;
    display: initial;
    transform: scale(1);    
  }
}

.filtros{
  margin: 10px;
  padding: 10px;
}

.categoria{
  display: flex;
  flex-wrap: nowrap;
}

.filter:hover {
  cursor: pointer;
}

.producto{
  margin: 10px;
  padding: 10px;
}