nav {
    display: inline-block;
}

nav ol li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    text-align: center;
    float: left;
    display: block;
    padding: 0px 16px;
}

.row {
    display: flex;
    align-items: center;
    text-align: center;
}

.column {
    flex: 50%;
}

.noabra{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.ypodria{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.nospan{
    text-transform: uppercase;
    font-size: 200%;
}

.restodeltexto{
    font-size: 75%;
}